<% provide(:title, "Log in") %>
</br>


</br>
</br>
</br>
<div class="row">
    <div class="col-md-6 cold-md-offset-1">
        <%= form_for(:session, url: login_path) do |f| %>
        
        <%= f.label :email %>
        <%= f.text_field :email %>
        </br>
        <%= f.label :password %>
        <%= f.password_field :password %>
        </br>
        </br>
        <%= f.submit "Log in", class: "btn btn-primary2" %>
        <% end %>
        
       <!--- <p class="newusersignup">New user? <%= link_to "Sign up now!", signup_path %></p> -->
    </div>
</div>